absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1705494584803/work
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1727779797566/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1728629009175/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1728923142236/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1722977137225/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1725267488082/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1724028158384/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1725560564262/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1728479282467/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1727293532078/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1729286679355/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1711466727397/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1729530351934/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1729699451269/work
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1596839682936/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1730952254284/work
google-auth-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/google-auth-oauthlib_1688235217226/work
google-pasta @ file:///home/conda/feedstock_root/build_artifacts/google-pasta_1722873999312/work
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpc-split_1690942284331/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
h5py @ file:///home/conda/feedstock_root/build_artifacts/h5py_1729617639680/work
hpack==4.0.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1726082825846/work
jax @ file:///home/conda/feedstock_root/build_artifacts/jax_1715569236590/work
jaxlib @ file:///croot/jaxlib_1729725651008/work/dist/jaxlib-0.4.23.dev20241024-cp311-cp311-manylinux2014_x86_64.whl#sha256=274a61ffd732367b353fcd63eae77789e82d17e6ec3ee5f1caa4619b3745d0bc
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1679712543761/work/keras-2.12.0-py2.py3-none-any.whl
Keras-Preprocessing @ file:///home/conda/feedstock_root/build_artifacts/keras-preprocessing_1610713559828/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1725459263097/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1710435156458/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1729351299924/work
matplotlib==3.9.1
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
ml-dtypes @ file:///home/conda/feedstock_root/build_artifacts/ml_dtypes_1725475044844/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1729065475820/work
munkres==1.1.4
namex @ file:///home/conda/feedstock_root/build_artifacts/namex_1713169736451/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225376651/work/dist/numpy-1.26.4-cp311-cp311-linux_x86_64.whl#sha256=d08e1c9e5833ae7780563812aa73e2497db1ee3bd5510d3becb8aa18aa2d0c7c
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1666056362788/work
opt_einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1727392354687/work
optree @ file:///home/conda/feedstock_root/build_artifacts/optree_1727986719532/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1726878443020/work
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1704469236901/work
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1695247221050/work
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1712242996588/work
propcache @ file:///home/conda/feedstock_root/build_artifacts/propcache_1728545730318/work
protobuf==4.21.12
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1726839225972/work
pyasn1_modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1726029546107/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1722701264352/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1722587090966/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1728880423364/work
PyQt5==5.15.9
PyQt5-sip==12.12.2
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1711290127547/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1730592237829/work/dist
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1726082671679/work/dist/scikit_learn-1.5.2-cp311-cp311-linux_x86_64.whl#sha256=6753395e01c95ce652a857cadd5d2ef87d7e19d2863954ada137ff60e7a181c1
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1729480690820/work/dist/scipy-1.14.1-cp311-cp311-linux_x86_64.whl#sha256=1d6b83e78fb8e82dc54a9de4e73aed118775fa22ccdc582469171f891aa3e912
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1714494649443/work
sip @ file:///home/conda/feedstock_root/build_artifacts/sip_1697300428897/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1727986709728/work
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1683119049001/work/tensorboard-2.12.3-py3-none-any.whl#sha256=b4a69366784bc347e02fbe7d847e01896a649ca52f8948a11005e205dcf724fb
tensorboard_data_server @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-data-server_1728639725131/work/tensorboard_data_server-0.7.0-py3-none-manylinux2014_x86_64.whl#sha256=dfb25fedae16e4b9569f95f3100503b292c7118e1b0e3f151c0f09b269563a86
tensorflow @ file:///home/conda/feedstock_root/build_artifacts/tensorflow-split_1696203965143/work/tensorflow_pkg/tensorflow-2.12.1-cp311-cp311-linux_x86_64.whl#sha256=c81cdde55aad1cdb6588d640e38aef69e8eb3c685b556f4c795ce415b4a31678
tensorflow-estimator @ file:///home/conda/feedstock_root/build_artifacts/tensorflow-split_1696203965143/work/tensorflow-estimator/wheel_dir/tensorflow_estimator-2.12.0-py2.py3-none-any.whl#sha256=4ed99394b94353abca6e7c628677cd92bab822dbd9dde2796e3b06c3d32b9519
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1728288976871/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1727974628237/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1724956126282/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1678559861143/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1727140567071/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1729704536972/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1726496430923/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1731097436890/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1724957910886/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1729798385961/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1731262100163/work
zstandard==0.23.0
